html {
    background-color: #f4f4f4;
}
body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}
#plus_icon{
    position:absolute;
    top:.6em;
    right:14em;   
}
#pencil_icon{
    position:absolute;
    top:.5em;
    right:11.9em;   
}
#trash_icon{
    position:absolute;
    top:.5em;
    right:10em;   
}

h1 {
    color: #222;
    font-size: 100px;
    font-weight: 600;
    line-height: 0px;
    margin-bottom: 0px;
}

.praise-box{
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    padding: 10px 50px 10px 50px;
    border: 5px solid #efdc62;
    border-radius: 2em;
}

#night{
    color: #103098;
    padding-right: 32px;
    padding-left: 6px;
}

#mid-morning{
    color: #ed7450;
    padding-right: 32px;
}

#daybreak{
    color: #efdc62;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}